################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/.vs
/Project2-Monopoly/Debug
/x64
/Project2-Monopoly/x64
/Debug